[Desktop Entry]
Type=Application
Exec=sh -c "/usr/local/bin/dynamic-wallpaper --start"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Dynamic Wallpaper
